# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
frontend/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Hyperledger
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json
external-chaincode/

# Eclipse
.classpath
.settings
*.pem
*ca